.reset-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: linear-gradient(315deg, #d5ddf8, #fff 57%);
  }
  
  .r-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .r-card {
    width: 100%;
    max-width: 400px; /* Set a max-width to avoid too small width */
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }